/* scss */
:root {
  --my-grey: rgb(33, 33, 33);
  --my-light-grey: rgb(46, 46, 46);
  --lighter-grey: #ffffffd3;
  --my-blue: #5CB8E4;
  --my-shady-blue: #5cb9e4d2;
  --my-dark-blue: #5cb9e489;
  --my-light-blue: #a9dbf1ad;
}

::selection {
  background-color: var(--my-blue);
}
/* /scss */

body {
  background-color: rgb(0, 0, 0);
  height: 2 * 1vh;
  top: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

p {
  color: var(--lighter-grey);
}

a {
  text-decoration: none;
  color: var(--lighter-grey);
}

ul {
  list-style-type: none;
  padding-left: 0;
}

button {
  font: inherit;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

textarea {
  color: var(--lighter-grey);
}

input {
  color: var(--lighter-grey);
}

li :target {
  background: var(--my-grey);
  border: 1px solid var(--my-grey);
  color: #ff0000;
}

data {
  color: var(--my-dark-blue)
}

/* ICONS */
.icon-box {
  position: relative;
  background: linear-gradient(
    to bottom right,
    hsl(0, 0%, 25%) 0%,
    hsla(0, 0%, 25%, 0) 50%
  );
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--my-blue);
  box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  z-index: 1;
}

.icon-box::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: hsl(240, 2%, 13%);
  border-radius: inherit;
  z-index: -1;
}
/* /ICONS */

/* AVATAR */
.avatar {
  width: 40px;
  border-radius: 50%;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
/* /AVATAR */

/* NAVBAR */
.navbar {
  background: var(--my-grey);
  position: sticky;
  border-bottom: 1px solid var(--my-blue);
  height: 5rem;
}

.navbar > .container-fluid {
  display: flex;
  justify-content: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-link:focus {
  outline: none;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: var(--my-light-blue);
  transition: .25s ease;
}

.nav-link.active {
  color: var(--my-blue);
}
/* /NAVBAR */

/* FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;

  background: var(--my-grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  color: rgba(255, 255, 255, 0.623);
  border-top: 1px solid var(--my-blue);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgb(255, 255, 255);
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.fa-pizza-slice {
  color: #ffffff;
}
.fa-github {
  color: #ffffff;
}
.fa-linkedin {
  color: #ffffff;
}
/* /FOOTER */

/* SIDEBAR */
.sidebar {
  top: 60px;
  max-height: max-content;
  height: 100%;
  margin-top: 13px;
  margin-bottom: 13px;
  padding-top: 60px;
  z-index: 1;
  background: var(--my-grey);
  border-radius: 15px;
  min-height: calc(100vh - 87px - 100px);
  border: 1px solid var(--my-blue);
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sidebar-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.owner-name {
  color: var(--lighter-grey);
  margin-bottom: 15px
}

.owner-title {
  display: inline-block;
  padding: 4px;
  border-radius: 7px;
  width: fit-content;
  background-color: var(--my-light-grey);
  font-size: smaller;
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
  color: #a4a4a4;
}

.contacts-item {
  margin-top: 25px;
}

.contact-title {
  color: var(--lighter-grey);
  padding: 0px;
  margin: 1px;
}

.contact-link {
  color: #ffffff;
}
/* /SIDEBAR */

/* MAIN-CONTENT */
main {
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
}

.main-content {
  top: 60px;
  height: 100%;
  margin-top: 13px;
  margin-bottom: 13px;
  padding-top: 60px;
  z-index: 1;
  background: var(--my-grey);
  border-radius: 15px;
  height: calc(100vh - 187px);
  border: 1px solid var(--my-blue);
  padding: 10px;
  width: 75%;
  max-width: 73.43%;
}

article {
  display: none;
}

article.active {
  display: block;
  animation: fade 0.5s ease backwards;
}

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.article-title {
  margin-bottom: 15px;
  width: fit-content;
  border-bottom: 3px solid var(--my-blue);
  padding-bottom: 5px;
  color: var(--lighter-grey);
}

/* ABOUT */
.about-text {
  color: var(--light-gray);
  line-height: 1.6;
}

.about-text p { margin-bottom: 15px; }
/* /ABOUT */

/* services */
.services-all {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.service {
  background-color: hsl(0, 0%, 14%);
  width: fit-content;
  border: 1px solid var(--lighter-grey);
  border-radius: 7px;
  margin: 6px;
  padding: 5px;
  box-shadow: 0px 0px 10px #000000;
}
/* /services */

/* PORTFOLIO */
.project-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 10px;
  margin-right: 30px;
}

.project-item > a { width: 100%; }

.project-img {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 15px;
}

.project-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
  transition: 0.25s ease;
}

.project-item > a:hover .project-img::before {
  background: hsla(0, 0%, 0%, 0.5);
}

.project-item-icon-box {
  --scale: 0.8;

  background: hsl(0, 0%, 22%);
  color: var(--my-blue);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  font-size: 20px;
  padding: 18px;
  border-radius: 12px;
  opacity: 0;
  z-index: 1;
  transition: 0.25s ease;
}

.project-item > a:hover .project-item-icon-box {
  --scale: 1;
  opacity: 1;
}

.project-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.5s ease-in-out;
}
/* /PORTFOLIO */

/* PROJECTS */
.timeline { margin-bottom: 30px; }

.timeline .title-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.timeline-list {
  font-size: 14px;
  margin-left: 45px;
}

.timeline-item { position: relative; }

.timeline-item:not(:last-child) { margin-bottom: 20px; }

.timeline-item-title {
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 7px;
}

.h4.timeline-item-title:hover {
  text-decoration: underline;
}

.timeline-list span {
  color: var(--my-shady-blue);
  font-weight: 400;
  line-height: 1.6;
}

.timeline-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -30px;
  width: 1px;
  height: calc(100% + 50px);
  background: hsl(0, 0%, 22%);
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -33px;
  height: 6px;
  width: 6px;
  background: var(--my-shady-blue);
  border-radius: 50%;
  box-shadow: 0 0 0 4px hsl(0, 0%, 22%);
}

.timeline-text {
  color: var(--lighter-grey);
  font-weight: 300;
  line-height: 1.6;
}

.skill .title-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.skill-list span {
  color: var(--my-dark-blue);
  font-weight: 400;
  line-height: 1.6;
}

.skill-list p {
  margin-bottom: 0px;
}

.important-skills {
  color: var(--my-light-blue);
}

.other-activities p {
  margin-bottom: 10px;
}
/* /PROJECTS */

/* SCROLLBAR */
.has-scrollbar {
  overflow: auto;
  height: calc(62vh);
  margin-bottom: 20px;
}

.has-scrollbar::-webkit-scrollbar {
  width: 5vw;  /* Width of the scrollbar */
}

.has-scrollbar::-webkit-scrollbar:vertical{
  width: 0.4vw;
}

.has-scrollbar::-webkit-scrollbar-track {
  background: var(--my-light-grey);
  border-radius: 5vh;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: var(--my-blue);
  border-radius: 5vh;
}
/* /SCROLLBAR */

/* CONTACT */
.contact-content {
  display: flex;
}

.contact-form-inputs {
  display: flex;
  flex-direction: column;
}

.contact-form-inputs.container {
  margin-right: 5px;
  margin-left: 10px;
}

.small-input {
  width: 30vh;
  height: 6vh;
  padding-left: 8px;
  border-radius: 10px;
  background-color: var(--my-grey);
  border: 1px solid rgb(110, 110, 110);
  box-shadow: 0px 0px 7px #000000;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-label {
  color: var(--lighter-grey);
}

.test-one {
  display: flex;
  justify-content: space-between;
}

.large-input-div {
  margin-top: 10px;
}

.large-input {
  width: 100%;
  border-radius: 10px;
  background-color: var(--my-grey);
  border: 1px solid rgb(110, 110, 110);
  box-shadow: 0px 0px 7px #000000;
  padding-left: 8px;
}

.submit-button-div {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.submit-button {
  border-radius: 12px;
  background-color: var(--my-grey);
  color: var(--my-shady-blue);
  height: 6vh;
  border: 1px solid rgb(110, 110, 110);
  box-shadow: 0px 0px 7px #000000;
}

.map-div {
  display: flex;
  flex-direction: column;
  width: 100%
}

#map {
  width: 30vh;
  height: 30vh;
  border-radius: 10px;
}

#map.largeSize {
  height: 50vh;
  width: 100%;
  transition: width 1s, height 1s;
  border-radius: 10px;
}

#map-info {
  font-size: 10px;
  color: var(--lighter-grey);
}
/* /CONTACT */


/* /MAIN-CONTENT */
